<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lyk.mapper.TalkMapper">
	<resultMap type="Talk" id="talk">
		<id property="openid" column="openid" />
		<result property="createTime" column="createtime" />
		<result property="keepTime" column="times" />
		<result property="type" column="keyward" />
	</resultMap>
	<select id="selectTalk" resultMap="talk">
		select * from talk where
		openid = (#{openid})
	</select>
	<delete id="deleteTalk">
		delete from talk where openid = (#{openid})
	</delete>
	<insert id="insertTalk">
		insert into talk (openid,createtime,times,keyward)
		values ((#{openid}),(#{createtime}),(#{times}),(#{keyward}))
	</insert>
	<insert id="insertOpenid">
		insert into openid (openid,id) values ((#{openid}),(#{id}))
	</insert>
	<select id="selectOpenid" resultType="String">
		select id from openid where openid = (#{openid})
	</select>
</mapper>